.pylintrc
/gutendex/books/__pycache__
/gutendex/books/migrations
/gutendex/books/models/__pycache__
/gutendex/gutendex/__pycache__
gutendex/db1.json
gutendex/db2.json
/books/__pycache__
/books/migrations/__pycache__
/books/models/__pycache__
/gutendex/__pycache__
