<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="Djano_handler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\ADMIN\gutendex\venv\Scripts\python.exe|C:\Users\ADMIN\gutendex\venv\Lib\site-packages\wfastcgi.py" resourceType="File" />
        </handlers>
        <rewrite>
            <rules>
                <rule name="RewriteToIndexPy">
                    <match url="/api/books" />
                    <action type="Rewrite" url="index.py" logRewrittenUrl="true" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
